.searchbar-background {
    height: 78px;
    margin: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: green;
    color: white;
    font-weight: 600;
}

.searchbar {
    height: 42px;
    margin: 16px 24px;
}

input {
    text-indent: 12px;
    width: 100%;
    margin: 0px 15px;
    height: 42px;
    width: 725px;
    background-image: url("/assets/ic/black/ic_search.png");
    background-repeat: no-repeat;
    background-position: right;
    border-radius: 6px;
}

.no-bullet {
    list-style-type: none;
}

.overlay {
    position: fixed;
    left: 20px;
    top: 105px;
    background-color: green;
    padding: 0px 10px;
    border-radius: 6px;
}

.add-space {
    padding: 5px 0px;
}