<div class="toolbar-background" role="banner">

    <a routerLink="home">
        <img width="120" alt="Platt Logo" src="assets/img/logo.png" class="header logo">
    </a>

    <div class="spacer"></div>

    <div class="header">
        <img class="toolbar-icon" src="assets/ic/white/ic_search.png">
        <img class="toolbar-icon" src="assets/ic/white/ic_shopping_cart.png">
        <img class="toolbar-icon" src="assets/ic/white/ic_person.png">
        <img class="toolbar-icon" src="assets/ic/white/ic_menu.png">
    </div>

</div>