<div class="card-row">
    <div class="card shadow medium inline">
        <img src="/assets/panel/deal.png">
    </div>


    <div class="card shadow medium inline">
        <p>
            <span class="card-font recent-text black left">
                        Recently Viewed
                    </span>
            <span class="card-font recent-text green right">
                            View All
                    </span>
        </p>
        <br>

        <div class="recent-images">
            <img src="/assets/recent/11.png" class="recent-image inline">

            <img src="/assets/recent/22.png" class="recent-image inline">

            <img src="/assets/recent/22.png" class="recent-image inline">
        </div>
    </div>
</div>

<div class="card-row">
    <div class="card shadow small inline">
        <img src="/assets/img/super-tool-day.png" class="super"><br>
        <span class="card-font">Super Tool Day &<br>Dynamic Data Day</span>
    </div>
    <div class="card shadow small inline">
        <img src="/assets/img/ic_location_b.png" class="branch"><br>
        <span class="card-font">Branch Locations</span>
    </div>
    <div class="card shadow small inline">
        <img src="/assets/img/ic_helpcenter.png" class="help"><br>
        <span class="card-font">Help Center</span>
    </div>
    <div class="card shadow small inline">
        <img src="/assets/img/ic_platt-u.png" class="university"><br>
        <span class="card-font">Platt University</span>
    </div>
</div>