<!-- Shop all categories -->

<div class="one-per-row">
    <img src="assets/ic/black/ic_categories.png" class="categories-icon">
    <span class="font1">Shop all categories</span>
</div>

<!-- Other Options -->

<div class="grid-container">
    <div class="grid-item">
        <a class="no-link" routerLink="/catalog">
            <img src="assets/ic/black/ic_playlist_add_check.png" class="options-icon">
            <span class="font2">My Catalog</span>
        </a>
    </div>
    <div class="grid-item">
        <a class="no-link" routerLink="/option-mylist">
            <img src="assets/ic/black/ic_list.png" class="options-icon">
            <span class="font2">My List</span>
        </a>
    </div>
    <div class="grid-item">
        <a class="no-link" routerLink="/option-livehelp">
            <img src="assets/ic/black/ic_chat.png" class="options-icon">
            <span class="font2">Live Help</span>
        </a>
    </div>
    <div class="grid-item">
        <a class="no-link" routerLink="/option-pim">
            <img src="assets/ic/black/ic_check_circle.png" class="options-icon">
            <span class="font2">PIM &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>
        </a>
    </div>
    <div class="grid-item">
        <a class="no-link" routerLink="/option-account">
            <img src="assets/ic/black/ic_person.png" class="options-icon">
            <span class="font2">Account</span>
        </a>
    </div>
    <div class="grid-item">
        <a class="no-link" routerLink="/option-branchlocations">
            <img src="assets/ic/black/ic_place.png" class="options-icon">
            <span class="font2">Branch Locations</span>
        </a>
    </div>
</div>