<div class="page-global">

    <div class="white-background">
        <app-header></app-header>
        <app-searchbar></app-searchbar>
        <app-options></app-options>
    </div>

    <div class="gray-background">
        <app-product-markets></app-product-markets>
        <app-platt-plus></app-platt-plus>
        <app-cards></app-cards>
        <app-get></app-get>
    </div>

    <div class="dark-gray-background">
        <app-support-center></app-support-center>
        <app-footer></app-footer>
    </div>

</div>