<div class="market-header">
    <span class="market-header-font">Product Markets</span>
</div>


<div class="market-options">
    <div class="market-container">
        <img src="/assets/img/datacomm.png" alt="DataComm" class="market-pic">
        <div class="label">
            <p>DataComm</p>
        </div>
    </div>

    <div class="market-container">
        <img src="/assets/img/hvac.png" alt="HVAC" class="market-pic">
        <div class="label">
            <p>HVAC</p>
        </div>
    </div>

    <div class="market-container">
        <img src="/assets/img/industrial.png" alt="Industrial" class="market-pic">
        <div class="label">
            <p>Industrial</p>
        </div>
    </div>

    <div class="market-container">
        <img src="/assets/img/lighting.png" alt="Lighting" class="market-pic">
        <div class="label">
            <p>Lighting</p>
        </div>
    </div>

    <div class="market-container">
        <img src="/assets/img/energy.png" alt="Energy" class="market-pic">
        <div class="label two-high">
            <span>Energy Efficiency</span>
        </div>
    </div>

    <div class="market-container">
        <img src="/assets/img/utility.png" alt="Utility" class="market-pic">
        <div class="label">
            <p>Utility</p>
        </div>
    </div>
</div>