<div class="shadowbox white-box">

    <div class="pp-content left-side">
        <img src="/assets/img/platt-plus.png">
    </div>

    <div class="pp-content right-side">
        <div>
            <p>
                <span class="get-started">
                    Get Started Today
                </span><br>
                <span class="become black">
                    Become a
                </span>
                <span class="become green">
                    Platt Plus
                </span>
                <span class="become black">
                    Member.
                </span>
            </p>
        </div>
        <button class="btn-learn-more">Learn More</button><br><br>


    </div>

</div>